h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}


.row {
    width: 1200px;
    height: 400px;
    margin: auto;
    gap: 50px;
    display: flex;
    margin-bottom: 50px;
}

.row div {
    flex-grow: 1;
}

.row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}