

/* ==============================
   CSS-ÜBUNG – Our Services
   ==============================

   Aufgabe:
   - Navigation gestalten (Hintergrundfarbe, Links nebeneinander).
   - Überschrift zentrieren.
   - Service-Boxen nebeneinander anordnen.
   - Icons einfügen und beschriften.
   - Saubere Abstände und einheitliche Schriftart verwenden.

   Hinweis: Inspiration gibt es in der Vorlage.PNG
*/





body{
   font-family: Arial, sans-serif;
   background-color: white;
   margin: 0;
   margin-top: 0;
   margin-bottom: 0;
   color: #333;
}

h1{
   text-align: center;
   margin-bottom: 30px;
   color: black
}

nav {
   background-color: #82bc3b;
   width: 100vw;
   height: 70px;
   position: relative;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
}


nav ul {
   list-style: none;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-evenly;
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
}

nav ul li a {
   color: white;
   text-decoration: none;
}

.service-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.inhalt{
   list-style: none;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}


.service-box:not(:last-child) {
   border-right: 2px solid #e0e0e0;
   padding-right: 30px;
   padding-left: 30px;
   margin-right: 0px;
}



