nav {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 50px;
}

nav a{
    color: white;
    text-decoration: none;
}

button {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}
button:hover {
    background-color: aqua;
    color: black;
    cursor: pointer;
}